/* messageCreator.js */

.msgContainer {
  display: inline-block;
  width: 30%;
  height: 100vh;
  background: rgb(1, 94, 27);
  vertical-align: top;
}
.msgForm {
  position: relative;
  border-radius: 4px;
  background: #fff; 
  padding: 20px;
  margin: auto;
  top: 30%;
  width: 20vw;
  /* height: 20vh; */
  box-shadow: 0 19px 38px -6px rgba(0,0,0, 0.27), 0 15px 12px -6px rgba(0,0,0, 0.27);
  color: black;
}

.inputFields {
  width: 100%;
  border: none;
  border-bottom: 2px solid rgb(1, 94, 27);
  font-size: 24px;
  margin-bottom: 10px;
  padding: 5px;
}

button {
  background: rgb(1, 94, 27);
  color: white;
  font-size: 24px;
  border-radius: 4px;
  min-width: 100%;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 19px 38px -6px rgba(0,0,0, 0.27), 0 15px 12px -6px rgba(0,0,0, 0.27);
  transform: scale(1.02)
}

.inputHeader {
  text-align: left;
  color: rgb(1, 94, 27);
}


/* allMessages.js */
.messagesContainer {
  display: inline-block;
  width: 70%;
  height: 100vh;
  background: rgb(215, 215, 215);
  vertical-align: top;
  overflow-y: auto;
}

table {
  margin: auto;
  width: 60%;
  margin-top: 50px;
  margin-bottom: 50px;

}
table > tbody > tr > td {
  font-size: 26px;
  color: rgb(1, 94, 27);
  padding: 20px;
}
td:first-child {
  font-weight: bold; 
  width: 30%; 
  text-align: left;
}
td:first-child > img {
  vertical-align: bottom;
}

td:last-child {
  text-align: left;
  width: 70%; 
}